.card{
    border: 2px solid #c300ff;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    background-color: #dadada;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    transition: transform 0.3s ease;
}
.card-nome{
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 12px;
}

.card-descricao{
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}